.container-page {
    width: 100%;
    height: calc(100% - 128px);

    display: flex;
    flex-direction: column;
    gap: 24px;
}

/*
    HEAD
*/
.container-page > .head {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-page > .head > .container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.container-page > .head > .container-title > .title {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .4px;
}

.container-page > .head > .container-title .tooltip {
    width: 320px;
}

.container-page > .head > .container-title svg {
    height: 24px;
    color: rgba(var(--yellow-rgb), .8);
}

.container-page > .head  > .action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/*
    CAMPAIGNS
*/
.container-page > .campaigns {
    width: 100%;
    height: max-content;
    padding: 24px 0;

    overflow-y: scroll;
}

.container-page > .campaigns::-webkit-scrollbar {
    display: none;
}

.container-page > .campaigns > div:not(:last-child) {
    margin-bottom: 18px;
}

.container-page > .campaigns > .empty {
    padding: 32px 0;

    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .4px;
    opacity: .3;
}

/*
    ERROR
*/
.container-page > .container-error {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font-hex);
    opacity: .8;
}

.container-page > .container-error > .error-code {
    font-size: 128px;
    font-weight: 800;
    letter-spacing: 4px;
}

.container-page > .container-error > .desc {
    font-size: 32px;
    letter-spacing: 1px;
    opacity: .7;
}