.input-custom {
    --input-background-rgb: transparent;
    --input-background-float-rgb: var(--background-soft-rgb);
    --input-font-rgb: var(--font-rgb);

    box-sizing: border-box;
    height: 28px;
    border-radius: 6px;
    border: solid 1px rgba(var(--input-font-rgb), .2);
    font-size: 12px;

    will-change: border;
    transition: border .3s ease;
}

.input-custom:focus,
.input-custom:hover,
.input-custom[data-isexpand="true"] {
    border: solid 1px rgba(var(--input-font-rgb), .4);
}